
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

venv/
env/
ENV/
.venv/


.streamlit/secrets.toml


.DS_Store
Thumbs.db
.vscode/
.idea/


*.log


.cache/
.cache/*
hf_cache/
transformers_cache/


*.faiss
*.index


uploads/
*.pdf
*.csv


.ipynb_checkpoints/


.env
.env.*


tmp/
temp/
